
.Navbar {
  display: inline;
  text-align: left;
}

.row{
  font-size: 60px;
  word-wrap:break-word;
  text-align: left;
  display: flexbox;
  
}
.col-5{
  font-size: 15px;
  word-wrap:initial;
  text-align: left;
  
}

.Awe{
  width: 100px;
  height: 40px;
  
}
span{
  width: 100px;
  height: 40px;
  text-align:initial;
  
}
header img {
  width: 10%;
  height: auto;
}


.Row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 5px;
}

.Row .Column {
  text-align: left;
  width: 150px;
  
}

.Row .Column img {
  width: auto;
  height: 65px;
}

.Row .Column h3 {
  color: black;
  font-size: 1.2em;
  height: 20px;
}

.Container {
  margin: 20 35px;
}
